body 
{
 background-color: lightgray;   
}
.box1 
{
width: 50%;
height: auto;
margin: auto;
padding: 45px;
background-color: coral;    
margin-top: 2%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box2 
{
width: 50%;
height: auto;
margin: auto;
padding: 45px;
background-color: black;
color: white;    
margin-top: 2%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box3 
{
width: 50%;
height: auto;
margin: auto;
padding: 45px;
background-color: aqua;    
margin-top: 2%;
font-family: fantasy;
}

.box4 
{
width: 50%;
height: auto;
margin: auto;
padding: 45px;
background-color: white;    
margin-top: 2%;
font-family: sans-serif;
}